#################
# Python 3.12.1 #
#################

black==24.1.1
click==8.1.7
EasyProcess==1.1
entrypoint2==1.1
evdev==1.6.1
mss==9.0.1
mypy-extensions==1.0.0
numpy==1.26.3
opencv-python==4.9.0.80
packaging==23.2
pathspec==0.12.1
platformdirs==4.2.0
pynput==1.7.6
python-xlib==0.33
six==1.16.0
